<header class="intro">
  <h1>Kontakt</h1>
</header>

<%= flash[:notice] %>

<%= form_tag("/static_pages/thank_you") do %>
<div class="contact--frame">
  <div class="mdl-textfield mdl-js-textfield contact--field">
    <%= text_field_tag :name, nil, class: "form-control mdl-textfield__input", id:"contact-name" %>
    <%= label_tag :name, nil, class: "mdl-textfield__label", for:"contact-name" %>
  </div>

  <div class="mdl-textfield mdl-js-textfield contact--field">
    <%= text_field_tag :email, nil, class: "mdl-textfield__input", :id => "email_login" %>
    <%= label_tag :email, nil, class: "mdl-textfield__label", for:"email_login" %>
  </div>
  
  <div class="mdl-textfield mdl-js-textfield contact--field">
    <%= label_tag :message, "Nachricht", :class => "mdl-textfield__label", :for => "contact_message" %>
    <%= text_area_tag :message, "Nachricht", :class => "mdl-textfield__input form-control", :id => "contact_message", :rows => "10" %>
  </div>
  <%= submit_tag "Senden", :class => "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect form-send__button" %>   
</div>
<% end %>