<section>
  <div class="head">
    <div class="head__frame">
      <div class="head__content">
        <h1>Learning Network</h1>
        <p>
          Dictumst accumsan suspendisse eget interdum, morbi ultrices convallis ridiculus lectus cursus auctor vulputate. Orci torquent praesent nisi volutpat dictum condimentum netus sit erat sed. Scelerisque accumsan imperdiet sit auctor potenti sagittis adipiscing praesent porttitor.
          Vivamus tristique himenaeos posuere dictum sagittis volutpat ridiculus elit.
          <br><br>
          Dictumst accumsan sociis proin suspendisse facilisi. Curae; mauris bibendum, sodales mattis. Nec ipsum lectus sit magna facilisis class ad porttitor euismod per, in euismod. Suspendisse tincidunt rhoncus facilisis, venenatis inceptos luctus sagittis sociis. Lacinia maecenas amet sapien libero euismod sociis. Vehicula velit aptent laoreet. Ultrices suscipit vehicula consectetur morbi!
        </p>
        <a href="">
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            Read more
          </button>
        </a>
      </div>
    </div>
  </div>
</section>
<section class="main-section mdl-grid">
  <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone main-section__cell">
    <div class="main-section_inner">
      <h1>Learning Network<br>at Zeppelin University</h1>
      <p>
        Cursus a sagittis nunc pretium parturient neque vestibulum at ultrices vestibulum. Interdum interdum sociis tincidunt et leo auctor hac ac sociosqu nunc. Enim volutpat lacus luctus, at iaculis accumsan. Ac gravida porttitor elementum habitasse fames a suscipit adipiscing id vehicula nec. Litora mauris scelerisque arcu primis aliquet feugiat feugiat? Interdum ultrices potenti sit lorem ullamcorper morbi natoque. 
        <br><br>
        Quam taciti dictumst habitasse facilisi lobortis! Euismod quam non egestas ipsum odio dignissim odio duis lacus. Urna vivamus mattis lacinia inceptos augue eu convallis eu enim a fusce. Torquent platea consectetur nascetur orci.
      </p>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone main-section__cell">
    
  </div>
</section>
<section class="main-section main-section__colored mdl-grid">
  <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone main-section__cell">
    
  </div>
  <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone main-section__cell">
    <div class="main-section_inner">
      <h1>Learning Network<br>at Zeppelin University</h1>
      <p>
        Cursus a sagittis nunc pretium parturient neque vestibulum at ultrices vestibulum. Interdum interdum sociis tincidunt et leo auctor hac ac sociosqu nunc. Enim volutpat lacus luctus, at iaculis accumsan. Ac gravida porttitor elementum habitasse fames a suscipit adipiscing id vehicula nec. Litora mauris scelerisque arcu primis aliquet feugiat feugiat? Interdum ultrices potenti sit lorem ullamcorper morbi natoque. 
        <br><br>
        Quam taciti dictumst habitasse facilisi lobortis! Euismod quam non egestas ipsum odio dignissim odio duis lacus. Urna vivamus mattis lacinia inceptos augue eu convallis eu enim a fusce. Torquent platea consectetur nascetur orci.
      </p>
    </div>
  </div>
</section>
<section class="main-section main-section__small main-section__quote">
  <div class="quote-frame">
    <h1>
      Convallis purus class per nascetur morbi nisi ac eleifend aliquet.
    </h1>
    <h2>
      Vorname Nachname
    </h2>
  </div>
</section>
<section class="main-section main-section__highlight mdl-grid mdl-grid--no-spacing">
  <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone highlight-cell">
  <div class="highlight-pic"></div>
  </div>
  <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone main-section__cell">
    <div class="main-section_inner">
      <h1>Learning Network<br>at Zeppelin University</h1>
      <p>
        Cursus a sagittis nunc pretium parturient neque vestibulum at ultrices vestibulum. Interdum interdum sociis tincidunt et leo auctor hac ac sociosqu nunc. Enim volutpat lacus luctus, at iaculis accumsan. Ac gravida porttitor elementum habitasse fames a suscipit adipiscing id vehicula nec. Litora mauris scelerisque arcu primis aliquet feugiat feugiat? Interdum ultrices potenti sit lorem ullamcorper morbi natoque. 
        <br><br>
        Quam taciti dictumst habitasse facilisi lobortis! Euismod quam non egestas ipsum odio dignissim odio duis lacus. Urna vivamus mattis lacinia inceptos augue eu convallis eu enim a fusce. Torquent platea consectetur nascetur orci.
      </p>
    </div>
  </div>
</section>
<section class="main-section">
  <div class="acknowledgement">
    <div class="acknowledgement-element"> <%= image_tag 'cc.png' %> </div>
    <div class="acknowledgement-element"> <%= image_tag 'cc.png' %> </div>
    <div class="acknowledgement-element"> <%= image_tag 'cc.png' %> </div>
    <div class="acknowledgement-element"> <%= image_tag 'cc.png' %> </div>
    <div class="acknowledgement-element"> <%= image_tag 'cc.png' %> </div>
  </div>
</section>