<section>
  <div class="head">
    <div class="head__frame">
      <div class="head__content">
        <h1>Learning Network<br>at Zeppelin University</h1>
        <p>
          The ZU Learning Network represents the coordination office of the Zeppelin University, which combines all activities concerning the promotion of refugees and their chances of integration.
          <br><br>
          Under the integration of all university resources LeNe aims to be an integrative teaching and learning program for refugees which can prepare them on the one hand for higher education or vocational training and on the other hand also provides meeting spaces and mutual exchange.
        </p>
        <a href="static_pages/about">
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            Read more
          </button>
        </a>
      </div>
    </div>
  </div>
</section>
<section class="main-section mdl-grid">
  <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone main-section__cell">
    <div class="main-section_inner">
      <p>
        Here the mutual benefit of inclusion-oriented program for citizens of Friedrichshafen, ZU-students, faculty and staff of the University is a central concept component. 
        <br><br>
        Our intention is to reduce fear of contact and prejudice and stand up for openness and tolerance. The initiatives and university groups of the Zeppelin University are the main implementation partnes and support the Learning Network.
      </p>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone main-section__cell">
    
  </div>
</section>
<section class="main-section main-section__colored mdl-grid">
  <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone main-section__cell">
    
  </div>
  <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone main-section__cell">
    <div class="main-section_inner">
<!--       <h1>Lorem Ipsum</h1>
      <p>
        Cursus a sagittis nunc pretium parturient neque vestibulum at ultrices vestibulum. Interdum interdum sociis tincidunt et leo auctor hac ac sociosqu nunc. Enim volutpat lacus luctus, at iaculis accumsan. Ac gravida porttitor elementum habitasse fames a suscipit adipiscing id vehicula nec. Litora mauris scelerisque arcu primis aliquet feugiat feugiat? Interdum ultrices potenti sit lorem ullamcorper morbi natoque. 
        <br><br>
        Quam taciti dictumst habitasse facilisi lobortis! Euismod quam non egestas ipsum odio dignissim odio duis lacus. Urna vivamus mattis lacinia inceptos augue eu convallis eu enim a fusce. Torquent platea consectetur nascetur orci.
      </p> -->
    </div>
  </div>
</section>
<section class="main-section main-section__small main-section__quote">
  <div class="quote-frame">
    <h1>
      "No one is useless in this world who lightens the burdens of another."
    </h1>
    <h2>
      Charles Dickens
    </h2>
  </div>
</section>
<section class="main-section main-section__highlight mdl-grid mdl-grid--no-spacing">
  <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone highlight-cell">
  <div class="highlight-pic"></div>
  </div>
  <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone main-section__cell">
    <div class="main-section_inner">
      <h1>Regular Courses</h1>
      <p>
        An integral part of the Learning Network are several weekly programs, audited classes, events, workshops and other acitivities which can be choosen.
      </p>
    </div>
  </div>
</section>
<section class="main-section">
  <div class="acknowledgement">
    <div class="acknowledgement-element"> <%= image_tag 'cc.png' %> </div>
    <div class="acknowledgement-element"> <%= image_tag 'amnesty.gif' %> </div>
    <div class="acknowledgement-element"> <%= image_tag 'cip.png' %> </div>
    <div class="acknowledgement-element"> <%= image_tag 'IG.png' %> </div>
    <div class="acknowledgement-element"> <%= image_tag 'LC.JPG' %> </div>
  	<div class="acknowledgement-element"> <%= image_tag 'rework.jpg' %> </div>
  	<div class="acknowledgement-element"> <%= image_tag 'ryl.jpg' %> </div>
  	<div class="acknowledgement-element"> <%= image_tag 'wr.png' %> </div>
  </div>
</section>