<section>
  <div class="head">
    <div class="head__frame">
      <div class="head__content">
        <h1>Learning Network<br>Zeppelin Universität</h1>
        <p>
          An der Zeppelin Universität sind alle Aktivitäten zur Förderung von Flüchtlingen und der Chance ihrer Integration unter dem Dach des Learning Networks LeNe vereint.
        </p>
        <a href="static_pages/about">
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            Mehr
          </button>
        </a>
      </div>
    </div>
  </div>
</section>
<section class="main-section mdl-grid">
  <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone main-section__cell">
    <div class="main-section_inner">
      <h1>Über uns</h1>
      <p>
        Das ZU Learning Network stellt die Koordinationsstelle der Zeppelin Universität dar, welches sämtliche Aktivitäten hinsichtlich der Förderung von Geflüchteten und ihrer Integrationschancen bündelt. Unter der Einbindung aller universitären Ressourcen zielt LeNe darauf ab ein integratives Lehr- und Lernprogramm für Geflüchtete hervorzubringen, welches diese einerseits auf ein Hochschulstudium oder eine Berufsausbildung vorbereiten kann, andererseits aber auch Räume der Begegnung bzw. des gegenseitigen Austauschs schafft.
      </p>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone main-section__cell">
    
  </div>
</section>
<section class="main-section main-section__colored mdl-grid">
  <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone main-section__cell">
    
  </div>
  <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone main-section__cell">
    <div class="main-section_inner">
      <h1>Intention</h1>
      <p>
        Dabei ist der wechselseitige Nutzen des inklusionsorientierten Programms für Bürgerinnen und Bürger aus Friedrichshafen, ZU-Studierende, Dozierende und Angestellte der Universität ein zentraler Konzeptbestandteil. Wir möchten damit Berührungsängste und Vorurteile abbauen sowie für Offenheit und Toleranz einstehen. Die Initiativen und Hochschulgruppen der Zeppelin Universität sind die wichtigsten Umsetzungspartner und Träger des Learning Networks.
      </p>
    </div>
  </div>
</section>
<!--<section class="main-section main-section__small main-section__quote">
  <div class="quote-frame">
    <h1>
      "No one is useless in this world who lightens the burdens of another."
    </h1>
    <h2>
      Charles Dickens
    </h2>
  </div>
</section>-->
<!--<section class="main-section main-section__highlight mdl-grid mdl-grid--no-spacing">
  <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone highlight-cell">
  <div class="highlight-pic"></div>
  </div>
  <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone main-section__cell">
    <div class="main-section_inner">
      <h1>Regular Courses</h1>
      <p>
        LeNe offers a variety of courses, events, weekly programs, and other activities.
      </p>
    </div>
  </div>
</section>-->
<section class="main-section">
  <div class="acknowledgement">
    <div class="acknowledgement-element"> <%= image_tag 'cc.png' %> </div>
    <div class="acknowledgement-element"> <%= image_tag 'amnesty.gif' %> </div>
    <div class="acknowledgement-element"> <%= image_tag 'cip.png' %> </div>
    <div class="acknowledgement-element"> <%= image_tag 'IG.png' %> </div>
    <div class="acknowledgement-element"> <%= image_tag 'LC.JPG' %> </div>
  	<div class="acknowledgement-element"> <%= image_tag 'rework.jpg' %> </div>
  	<div class="acknowledgement-element"> <%= image_tag 'ryl.jpg' %> </div>
  	<div class="acknowledgement-element"> <%= image_tag 'wr.png' %> </div>
  </div>
</section>