<section>
  <div class="head">
    <div class="head__frame">
      <div class="head__content">
        <h1>Learning Network<br>at Zeppelin University</h1>
        <p>
          At Zeppelin University all activities concerning the promotion of refugees and their chances of integration are united under the roof of the Learning Network LeNe.
        </p>
        <a href="static_pages/about">
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            Read more
          </button>
        </a>
      </div>
    </div>
  </div>
</section>
<section class="main-section mdl-grid">
  <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone main-section__cell">
    <div class="main-section_inner">
      <h1>About LeNe</h1>
      <p>
        LeNe bundles the relevant university resources and provides an integral teaching and learning platform for refugees. LeNe helps refugees to qualify for vocational training and for higher education. LeNe also provides meeting space for exchange. 
        <br><br>
        It is LeNe’s core concept to provide an inclusion-oriented program for citizens of Friedrichshafen, ZU-students, faculty and staff of the university.
      </p>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone main-section__cell">
    
  </div>
</section>
<section class="main-section main-section__colored mdl-grid">
  <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone main-section__cell">
    
  </div>
  <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone main-section__cell">
    <div class="main-section_inner">
      <h1>Intention</h1>
      <p>
        LeNe aims at reducing barriers, fear of contact and prejudice. It stand up for openness and tolerance. The student initiatives and groups of Zeppelin University are LeNe’s main partners and supporters.
      </p>
    </div>
  </div>
</section>
<section class="main-section main-section__small main-section__quote">
  <div class="quote-frame">
    <h1>
      "No one is useless in this world who lightens the burdens of another."
    </h1>
    <h2>
      Charles Dickens
    </h2>
  </div>
</section>
<section class="main-section main-section__highlight mdl-grid mdl-grid--no-spacing">
  <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone highlight-cell">
  <div class="highlight-pic"></div>
  </div>
  <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone main-section__cell">
    <div class="main-section_inner">
      <h1>Regular Courses</h1>
      <p>
        LeNe offers a variety of courses, events, weekly programs, and other activities.
      </p>
    </div>
  </div>
</section>
<section class="main-section">
  <div class="acknowledgement">
    <div class="acknowledgement-element"> <%= image_tag 'cc.png' %> </div>
    <div class="acknowledgement-element"> <%= image_tag 'amnesty.gif' %> </div>
    <div class="acknowledgement-element"> <%= image_tag 'cip.png' %> </div>
    <div class="acknowledgement-element"> <%= image_tag 'IG.png' %> </div>
    <div class="acknowledgement-element"> <%= image_tag 'LC.JPG' %> </div>
  	<div class="acknowledgement-element"> <%= image_tag 'rework.jpg' %> </div>
  	<div class="acknowledgement-element"> <%= image_tag 'ryl.jpg' %> </div>
  	<div class="acknowledgement-element"> <%= image_tag 'wr.png' %> </div>
  </div>
</section>