<h2 class="txt-ignore">Bearbeiten <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field txt-ignore">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field txt-ignore">
    <%= f.label :password, "Passwort" %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field txt-ignore">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field txt-ignore">
    <%= f.label :current_password, "Aktuelles Passwort" %> <i>(wir brauchen dein aktuelles Passwort um deine Änderungen zu bestätigen)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions txt-ignore">
    <%= f.submit "Bestätigen" %>
  </div>
<% end %>

<h3 class="txt-ignore">Benutzer löschen</h3>

<p class="txt-ignore">Unglücklich? <%= button_to "Benutzer löschen", registration_path(resource_name), data: { confirm: "Bist du sicher?" }, method: :delete %></p>

<%= link_to "Zurück", :back %>
