<header class="intro txt-ignore">
  <h1>Registrieren</h1>
</header>

<div class="devise--frame txt-ignore">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="mdl-textfield mdl-js-textfield devise__textfield">
      <%= f.email_field :email, :class => "mdl-textfield__input", :id => "email_login",  autofocus: true %>
      <%= f.label :email, :class => "mdl-textfield__label", :for => "email_login" %>
    </div>

    <div class="mdl-textfield mdl-js-textfield devise__textfield">
      <%= f.password_field :password, :class => "mdl-textfield__input", :id => "password_login",  autocomplete: "off" %>
      <%= f.label :password, :class => "mdl-textfield__label", :for => "password_login" %>
    </div>

    <div class="mdl-textfield mdl-js-textfield devise__textfield">
      <%= f.password_field :password_confirmation, :class => "mdl-textfield__input", :id => "password_confirmation",  autocomplete: "off" %>
      <%= f.label :password_confirmation, :class => "mdl-textfield__label", :for => "password_confirmation" %>
    </div>
    <% if @minimum_password_length %>
      <p>
        Aus Sicherheitsgründen muss das Passwort aus mindestens
        <%= @minimum_password_length %> Charakteren bestehen.
      </p>
    <% end %>

    <%= f.submit "Registrieren", :class => "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button-light login__button" %>
  <% end %>

</div>
