<p class="txt-ignore" id="notice"><%= notice %></p>

<h1 class="txt-ignore">Benutzer Liste</h1>

<table class="txt-ignore">
  <thead>
    <tr>
      <th>Vorname</th>
      <th>Nachname</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= link_to 'Anzeigen', user %></td>
        <td><%= link_to 'Bearbeiten', edit_user_path(user) %></td>
        <td><%= link_to 'Löschen', user, method: :delete, data: { confirm: 'Bist du sicher?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Neuer Benutzer', new_user_path %>
