<p class="txt-ignore" id="notice"><%= notice %></p>

<p class="txt-ignore">
  <strong>Vorname:</strong>
  <%= @user.first_name %>
</p>

<p class="txt-ignore">
  <strong>Nachname:</strong>
  <%= @user.last_name %>
</p>

<%= link_to 'Bearbeiten', edit_user_path(@user) %> |
<%= link_to 'Zurück', users_path %>
