<div class="login--background">
  <div class="devise--frame demo-card-wide mdl-card mdl-shadow--2dp login-card__custom">
    <div class="mdl-card__title mdl-card__login">
      <h2 class="mdl-card__title-text custom-card__title-text listing__custom-title">Login</h2>
    </div>
    <h2 class="mdl-card__supporting-text login--supporting-text">Welcome to the Zeppelin University LearningNetwork. To see all courses please login or sign up.
    </h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      
      <div class="mdl-textfield mdl-js-textfield devise__textfield">
        <%= f.email_field :email, :class => "mdl-textfield__input", :id => "email_login",  autofocus: true %>
        <%= f.label :email, :class => "mdl-textfield__label", :for => "email_login" %>
      </div>
      <div class="mdl-textfield mdl-js-textfield devise__textfield">
        <%= f.password_field :password, :class => "mdl-textfield__input", :id => "password_login",  autocomplete: "off" %>
        <%= f.label :password, :class => "mdl-textfield__label", :for => "password_login" %>
      </div>
      <% if devise_mapping.rememberable? -%>
        <div class="devise__remember">
          <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-rememberme">
            <%= f.check_box :remember_me, :id => "checkbox-rememberme", :class => "mdl-checkbox__input" %>
            <span class="mdl-checkbox__label">Remember me</span>
          </label>
        </div>
      <% end -%>
        <%= f.submit "Log in", :class => "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button-light login__button" %>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
