<p id="notice"><%= notice %></p>

<header class="intro txt-ignore">
  <h1>Learing Network <br>Veranstaltungen</h1>
  <div>
    <% if current_user.try(:admin?) %>
      <%= link_to '+ Veranstaltung hinzufügen', new_course_path, :class => "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" %>
    <% end %>
  </div>
  <div class="index-search">
    <%= form_tag("/courses", method: "get") do %>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <%= text_field_tag(:q, nil, :class => "mdl-textfield__input", :id => "search") %>
        <%= label_tag(:q, "Suche...", :for => "search", :class => "mdl-textfield__label" ) %>
      </div>
      <%= button_tag nil, :class => "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect search--button" do %>
        <i class="material-icons">search</i>
      <% end -%>
    <% end %>
  </div>
</header>

<!-- Index -->
<section class="course-listing txt-ignore">
  <div class="course_listing--frame mdl-grid">
    <% @courses.each.with_index do |course, index| %>
        <div class="listing__cell mdl-cell mdl-cell--4-col">
          <div class="mdl-card mdl-shadow--2dp listing--course_card">
              <div class="mdl-card__title custom-card__title">
                <h2 class="mdl-card__title-text custom-card__title-text listing__custom-title"><%= course.title %></h2>
              </div>
                <h2 class="mdl-card__supporting-text custom-card__supporting-text">by <%= course.author %></h2>
              
              <div class="listing__card-box listing__card-box--date">
                <span><%= course.time %></span><span> | </span>
                <span><%= course.fromtime %></span><span> - </span>
                <span><%= course.totime %></span>
              </div>
              <div class="listing__card-box listing__card-box--date listing__card-box--location">
                <span><%= course.place %></span>
              </div>
              
            <div class="listing--card_picture" style="background-image: url(<%= asset_path 'immigreat_1.JPG' %>); background-size: cover;">
              <img src="<%= course.imageurl %>" style="height: 175px; width: 378.66px;">
            </div>
          


            <div class="listing__card-box card-box--description">
              <div class="card-box__description">
                <h1><%= course.title %></h1>
                <%= truncate(course.description,  length: 300, omission: '...')  %>
              </div>
            </div>
            <div class="listing__card-box card-box--buttons mdl-card__actions">
              <div class="">
                <%= link_to 'Mehr', course, :class => "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" %>
      
                <% if current_user.try(:admin?) %>
                <button id="creator-menu_<%= index %>" class="mdl-button mdl-js-button mdl-button--icon">
                  <i class="material-icons">more_vert</i>
                </button>
                <ul for="creator-menu_<%= index %>" class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--top-right creator-menu--frame">
                 <%= link_to edit_course_path(course) do %>
                  <li class="mdl-menu__item creator-menu__item">Bearbeiten</li>
                 <% end -%>
                 <%= link_to course, method: :delete, data: { confirm: 'Are you sure you want to delete this course?'}, :class => "creator-menu--warning" do %>
                  <li class="mdl-menu__item creator-menu__item">Löschen</li>
                 <% end -%> 
                </ul>
                <% end %>
              </div>
            </div>

          


          </div>
          
        </div>

        
        
        
        
        
    <% end %>
  </div>
</section>

<!--<h1>Listing Courses</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Time</th>
      <th>Place</th>
      <th>Description</th>
      <th>Image url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.title %></td>
        <td><%= course.time %></td>
        <td><%= course.place %></td>
        <td><%= course.description %></td>
        <td><%= course.image_url %></td>
        <td><%= link_to 'Show', course %></td>
        <td><%= link_to 'Edit', edit_course_path(course) %></td>
        <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Course', new_course_path %>-->