<p id="notice"><%= notice %></p>

<div class="course-show">
  <header class="intro intro--card">
    <h1><%= @course.title %></h1>
    <h2><%= @course.author %></h2>
  </header>

  <div class="mdl-grid show-grid">
    <div class="mdl-cell mdl-cell--8-col show-cell">
      <div class="mdl-card mdl-shadow--2dp main-card">
        <div class="mdl-card__title custom-card__title show--card-title">
          <div class="title-container">
            <h2 class="mdl-card__title-text custom-card__title-text listing__custom-title show-title">
            <%= @course.title %>
            </h2>
            <h2 class="mdl-card__supporting-text custom-card__supporting-text show--supporting-text">by <%= @course.author %></h2>
          </div>
          <div class="add-button">
            <a href="/cart/<%= @course.id %>" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button-light add-button--style"> Add to my Courses </a>
          </div>
        </div>
        <div class="header-picture">
          
        </div>
        <div class="description">
          <h1>Description</h1>
          <p>
            <%= simple_format @course.description %>
          </p>
        </div>
      </div>
    </div>
    <div class="show--column mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet">
      <div class="mdl-card mdl-shadow--2dp main-card side-card">
        <div class="mdl-card__title custom-card__title show--card-title">
          <div>
            <h2 class="mdl-card__title-text custom-card__title-text listing__custom-title show-title">
            Summary
            </h2>
            <h2 class="mdl-card__supporting-text custom-card__supporting-text show--supporting-text"><%= truncate(@course.description, length: 150) %></h2>
          </div>
        </div>
        <div class="summary-content">
          <div class="when">
            <div class="section-title">
              When?
            </div>
            <div class="time-info">
              <%= @course.time %> | <%= @course.fromtime %> - <%= @course.totime %>
            </div>
          </div>
          <div class="where">
            <div class="section-title">
              Where?
            </div>
            <div class="time-info time-info--end">
              <%= @course.place %>
            </div>
          </div>
        </div>
      </div>
      <div class="mdl-card mdl-shadow--2dp main-card side-card">
        <div class="mdl-card__title custom-card__title show--card-title">
          <div>
            <h2 class="mdl-card__title-text custom-card__title-text listing__custom-title show-title">
            Material
            </h2>
            <h2 class="mdl-card__supporting-text custom-card__supporting-text show--supporting-text">
              Additional materials and ressources you should bring with you in order to participate in this course can be found right below.
            </h2>
          </div>
        </div>
        <div class="course-material">
          <%= simple_format @course.material %>
        </div>
      </div>
    </div>
  </div>

  
  <div class="show-buttons">
    <% if current_user.try(:admin?) %>
    <div class="sign-up__frame">
      <%= link_to 'Edit', edit_course_path(@course), :class => "mdl-button mdl-js-button mdl-js-ripple-effect sign-up_button" %>
    </div>
    <div class="sign-up__frame">
      <%= link_to 'Back', courses_path, :class => "mdl-button mdl-js-button mdl-js-ripple-effect sign-up_button" %>
    </div>
    <% end %>
  </div>
</div>