<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>

<p>
  <strong>Time:</strong>
  <%= @course.time %>
</p>

<p>
  <strong>Place:</strong>
  <%= @course.place %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @course.image_url %>
</p>

<a href="/cart/<%= @course.id %>"> Add to my Courses </a>

<% if current_user.try(:admin?) %>
  <%= link_to 'Edit', edit_course_path(@course) %> |
  <%= link_to 'Back', courses_path %>
<% end %>
